<!-- SET THE CONTROLLER AND GET ALL TASKs WITH INITIALIZE FUNCTION -->
<div class="container">
  <!-- Timesline VIEW -->
  <div class="row" style="background-color:#808000">Timesline view</div>
  
  <div class="row">
    <!-- navigation-sidebar -->
    <div class="col-xs-3 col-md-2 navigation-sidebar">
      navigation-sidebar
    </div><!-- navigation-sidebar -->
    <!--<div id="content" style="padding: 10px 10px 10px 10px;">-->
      <!-- general-view" -->
      <div class="col-xs-9 col-md-10 general-view">
        <div class="row filter-owner-bar">
          filter-owner-bar
        </div>
        <div class="row filter-time-bar">
          filter-time-bar
        </div>
        <div class="row">
          <div class="col-xs-2 col-md-2 general-sidebar">
            general-sidebar
          </div>
          <div class="col-xs-10 col-md-10 task-view">
            task-view
          </div>
        </div>
      </div><!-- general-view" -->
    <!--</div>-->
  </div>
</div>