<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html data-ng-app="Timesline">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><!-- Optimize mobile viewport -->
	
	<title>Timesline</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css"/>
	<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/index.css"/>

  <script type="text/javascript">
    // This is needed because Facebook login redirects add #_=_ at the end of the URL
    if (window.location.href.indexOf('#_=_') > 0) {
      window.location = window.location.href.replace(/#.*/, '');
    }
  </script>

	<!-- SPELLS переместить в конец бодий-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script><!-- load angular -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-cookies.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate-loader-static-files/2.0.0/angular-translate-loader-static-files.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-collapse.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-transition.min.js"></script>
	<script src="js/angular-translate-storage-cookie.min.js"></script>
	<script src="js/routingConfig.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>

<!-- SET THE CONTROLLER AND GET ALL TASKs WITH INITIALIZE FUNCTION -->
<body data-ng-cloak>
  <div class="container">
    <nav data-ng-controller="NavCtrl">
      <div class="navbar-inner">
        <a class="navbar-brand" href="#">Timesline</a>
        <ul class="nav nav-pills">
          <li data-access-level='accessLevels.anon' active-nav style="padding-top: 5px">
            <a href='/login' style="color:#5bc0de">{{ 'tr_LOGIN' | translate }}</a>
          </li>
          <li data-access-level='accessLevels.anon' active-nav style="padding-top: 5px">
            <a href='/register' style="color:#5bc0de">{{ 'tr_REGISTER' | translate }}</a>
          </li>
          <li data-access-level='accessLevels.user' active-nav style="padding-top: 5px">
            <a href='/' style="color:#5bc0de">{{ 'tr_HOME' | translate }}</a>
          </li>
          <li data-access-level='accessLevels.user' active-nav='nestedTop' style="padding-top: 5px">
            <a href='/private' style="color:#5bc0de">{{ 'tr_PRIVATE' | translate }}</a>
          </li>
          <li data-access-level='accessLevels.admin' active-nav style="padding-top: 5px">
            <a href='/admin' style="color:#5bc0de">{{ 'tr_ADMIN' | translate }}</a>
          </li>
          <li data-access-level='accessLevels.user' style="padding-top: 5px">
            <a href="" data-ng-click="logout()" style="color:#5bc0de">{{ 'tr_LOGOUT' | translate }}</a>
          </li>
          
          <div data-ng-controller="TranslateController">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'tr_LANGUAGE' | translate }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="changeLanguage('ru_RU')">{{ 'BUTTON_TEXT_RU' | translate }}</a></li>
                  <li><a href="#" ng-click="changeLanguage('en_EN')">{{ 'BUTTON_TEXT_EN' | translate }}</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div id="userInfo" class="pull-right" data-access-level='accessLevels.user'>
            {{ 'tr_WELLCOME' | translate }}&nbsp;
            <strong>{{ user.username }}&nbsp;</strong>
            <span class="label" data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}'>
              {{ user.role.title }}
            </span>
          </div>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container" data-ui-view style="margin-top:10px;">
    <div id="alertBox" class="alert alert-danger" data-ng-show='error'>
      <button type="button" class="close" data-ng-click="error = null;">
        &times;
      </button>
      <strong>Oh no!&nbsp;</strong>
      <span data-ng-bind="error"></span>
    </div>
  </div>
</body>
</html>